nav {
  border: 2px solid black;
  font-family: sans-serif;
}
.navbars {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
h2 {
  padding: 1px 18px;
}
.title {
  padding: 10px 10px;
  height: 5px;
  font-size: 50px;
}
.content {
  padding: 10px 0px 1px 0px;
  font-family: arial;
}
