nav {
  border: 2px solid black;
}
.navbars {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
h2 {
  padding: 1px 20px;
}
.Title {
  padding: 10px 10px;
  height: 5px;
  font-size: 50px;
}
