nav {
  border: 2px solid black;
  font-family: sans-serif;
}
.navbars {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
h2 {
  padding: 1px 18px;
  font-size: 30px;
}
.title {
  padding: 10px 10px;
  height: 5px;
  font-size: 50px;
}
.content {
  padding: 30px 0px 1px 0px;
  font-family: arial;
  font-size: 18px;
}
.floatleft {
  float: left;
  display: inline-block;
}
.floatright {
  float: right;
  display: inline-block;
  padding: 0px 0px 0px 13px;
}
.rightpadding {
  margin-right: 20px;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
